#up {
	text-align: center;
	font-size: 22px;
}

#Зміст {
	text-align: center;
}

.home {
	text-align: center;
	font-style: italic;
}

{
	}.zmist1 .zmist1_1{
		color: #FFFFFFFF;
		display: inline-block;
		background: blue;
		text-decoration: none;
		padding: 0.0001em 0.6rem;
		text-decoration: none;
		border-radius: 3px;
	}
		.zmist2 .zmist2_2{
		color: #FFFFFFFF;
		display: inline-block;
		background: blue;
		text-decoration: none;
		padding: 0.0001em 0.6rem;
		text-decoration: none;
		border-radius: 3px;
	}


	.zmist3 .zmist3_3{
		color: #FFFFFFFF;
		display: inline-block;
		background: blue;
		text-decoration: none;
		padding: 0.0001em 0.6rem;
		text-decoration: none;
		border-radius: 3px;
	}
	.zmist4 .zmist4_4{
		color: #FFFFFFFF;
		display: inline-block;
		background: blue;
		text-decoration: none;
		padding: 0.0001em 0.6rem;
		text-decoration: none;
		border-radius: 3px;
	}
	.zmist5 .zmist5_5 {
		color: #FFFFFFFF;
		display: inline-block;
		background: blue;
		text-decoration: none;
		padding: 0.0001em 0.6rem;
		text-decoration: none;
		border-radius: 3px;
	}
}
	.zmist1 .zmist1_1:hover {
		display: inline-block;
		background-color: magenta;
		color: black;
	}

	.zmist1 .zmist1_1:active{
		display: inline-block;
		background-color: yellow;
		color: black;
	}

		.zmist2 .zmist2_2:hover {
		display: inline-block;
		background-color: magenta;
		color: black;

	}
	.zmist2 .zmist2_2:active{
		display: inline-block;
		background-color: yellow;
		color: black;
	}

		.zmist3 .zmist3_3:hover {
		display: inline-block;
		background-color: magenta;
		color: black;

	}
	.zmist3 .zmist3_3:active{
		display: inline-block;
		background-color: yellow;
		color: black;
	}

		.zmist4 .zmist4_4:hover {
		display: inline-block;
		background-color: magenta;
		color: black;

	}
	.zmist4 .zmist4_4:active{
		display: inline-block;
		background-color: yellow;
		color: black;
	}

		.zmist5 .zmist5_5:hover {
		display: inline-block;
		background-color: magenta;
		color: black;

	}
	.zmist5 .zmist5_5:active{
		display: inline-block;
		background-color: yellow;
		color: black;
	}
.zag {
	font-size: 120%
}

.text {
	font-size: 140%
}

#Ywerh {
	text-transform: uppercase;
}