.friends {
	text-align: center;
	font-size: 22px;
}

.nagolovnu {
	font-style: italic;
}

#myfr {
	text-align: center;
}

.LM {
	background: #007F0EFF;
	padding: 0.6rem;
	font-weight: 800;
}

.ML {
	font-weight: 100;
	background: #808080FF;	
}

.ML1 {
	font-weight: 100;
}