#gmdd {
	text-align: center;
}

#nzhome {
	font-style: italic;
}

.images {
	text-align: center;
}

.h33 {
	font-size: 100%;
}

.h34 {
	font-size: 130%;
}

.h35 {
	font-size: 160%;
}

.div {
	text-align: center;
}